<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MenuTextMinMaxBreakFast" value=""/>
		<add key="MenuTextAddPortionBreakFast" value=""/>
		<add key="MenuTextMinMaxDinner" value=""/>
		<add key="MenuTextAddPortionDinner" value=""/>
		<add key="MenuTextMinMaxSupper" value=""/>
		<add key="MenuTextAddPortionSupper" value=""/>
		<add key="CaloriesMinOfBreakfastText" value=""/>
		<add key="CaloriesMaxOfBreakfastText" value=""/>
		<add key="CaloriesMinOfDinnerText" value=""/>
		<add key="CaloriesMaxOfDinnerText" value=""/>
		<add key="CaloriesMinOfSupperText" value=""/>
		<add key="CaloriesMaxOfSupperText" value=""/>
		<add key="WeightDishesMinOfBreakfastText" value=""/>
		<add key="WeightDishesMaxOfBreakfastText" value=""/>
		<add key="WeightDishesMinOfDinnerText" value=""/>
		<add key="WeightDishesMaxOfDinnerText" value=""/>
		<add key="WeightDishesMinOfSupperText" value=""/>
		<add key="WeightDishesMaxOfSupperText" value=""/>


		<add key="CoockedBreakfast" value="Свеженцев, Остапенко"/>
		<add key="CoockedDinner" value="Свеженцев, Остапенко"/>
		<add key="CoockedSupper" value="Свеженцев, Остапенко"/>
		<add key="Chief" value="ФОМИЧЕВА Н.В."/>
	</appSettings>
</configuration>
